---

import Intro from '../components/Intro.astro';
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav/index.jsx';
import Skills from '../components/Skills';
---

<html lang="es">
	<head>
		<MainHead  />
	</head>
	<body>
		<Nav />
		<Intro />
		<Skills client:visible  />
	</body>
</html>
