---

import Contact from '../components/Contact.astro';
import Intro from '../components/Intro.astro';
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav/index.jsx';
import Skills from '../components/Skills.astro';
import Works from '../components/Works.astro';
---

<html lang="es">
	<head>
		<MainHead  />
	</head>
	<body>
		<Nav client:only/>
		<Intro />
		<Skills />
		<Works />
		<Contact />
	</body>
</html>
