<div class="bg-white dark:bg-gray-800">
    <div class="flex gap-5 justify-around items-center">
        <h3 class="p-5 p5 mx-auto text-xl font-semibold text-gray-900 dark:text-white">
            Contacto
        </h3>
    </div>
</div>