---
import ContactForm from "./ContactForm";

---

<div
    class="bg-white justify-center dark:bg-gray-800 text-gray-900 dark:text-white flex flex-col gap-5 items-center">
    <h3 id="contact" class="p-5 p5 mx-auto text-xl font-semibold text-gray-900 dark:text-white">
        Contacto
    </h3>
    <ContactForm client:only="react" />
</div>
